<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">AppPersonajes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-personajes" routerLinkActive="active">Personajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/list-heroes" routerLinkActive="active">Héroes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crea-personaje" routerLinkActive="active">Crear Personaje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crea-heroe" routerLinkActive="active">Crear Héroe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  